<!DOCTYPE html>
    <html>
        <head>
            <style>
                body{
                background-color:black;
                }
                button{
                width:960px;
                height:100px;
                background-color:green;
                font-size:70px;
                }
            </style>
        </head>
        {% block second%}
      
        <body>
            <button class="GFG" onclick="window.location.href='thanos';">Dont Click
            </button>
          {%endblock second%}
        </body>
    </html>
    